/* =========================
   GOOGLE FONT
========================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* =========================
   ROOT VARIABLES
========================= */
:root{
  --bg:#ffffff;
  --bg-soft:#f8fafc;
  --card:#ffffff;
  --border:#e5e7eb;

  --text:#0f172a;
  --text-light:#64748b;

  --accent:#5b7cff;
  --accent2:#7c5cff;

  --shadow:
  0 20px 50px rgba(0,0,0,.08);
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Poppins',sans-serif;
  background:var(--bg);
  color:var(--text);
  overflow-x:hidden;
}

a{
  text-decoration:none;
}

img{
  max-width:100%;
  display:block;
}

/* =========================
   GLOBAL SECTION
========================= */

section{
  padding:70px 8%;
}

h1,h2,h3,h4{
  color:var(--text);
}

h2{
  font-size:42px;
  margin-bottom:25px;
  text-align:center;
}

p{
  color:var(--text-light);
  line-height:1.7;
}

/* =========================
   GRID OVERLAY
========================= */

.grid-overlay{
  position:fixed;
  inset:0;
  pointer-events:none;
  opacity:.03;

  background-image:
  linear-gradient(#000 1px, transparent 1px),
  linear-gradient(90deg,#000 1px,transparent 1px);

  background-size:40px 40px;
}

/* =========================
   NAVBAR
========================= */

.navbar{
  position:fixed;
  top:0;
  left:0;

  width:100%;
  height:78px;

   

  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:0 40px;

  backdrop-filter:blur(20px);

  background:rgba(255,255,255,.75);

  border-bottom:1px solid rgba(220,220,230,.5);

   box-shadow:
    0 10px 30px rgba(0,0,0,.06);

  z-index:1000;

  transition:.4s ease;
}

.navbar:hover{

    box-shadow:
    0 15px 40px rgba(99,102,241,.12);
}

.logo{

    display:flex;
    
}

.logo img{

    height:95px;

    animation:
    logoFloat 4s ease-in-out infinite,
    logoGlow 5s ease-in-out infinite;

    transition:.4s ease;
}

@keyframes logoGlow{

    0%{
        filter:drop-shadow(0 0 0px rgba(91,124,255,.2));
    }

    50%{
        filter:drop-shadow(0 0 12px rgba(91,124,255,.4));
    }

    100%{
        filter:drop-shadow(0 0 0px rgba(91,124,255,.2));
    }
}

.logo:hover img{

    transform:
    rotate(-5deg)
    scale(1.08);

    animation:
    logoFloat 4s ease-in-out infinite,
    premiumLogoGlow 5s ease-in-out infinite;
}

@keyframes logoFloat{

    0%{
        transform:translateY(0);

        filter:
        drop-shadow(0 0 3px rgba(91,124,255,.25));
    }

    50%{
        transform:translateY(-4px);

        filter:
        drop-shadow(0 0 18px rgba(91,124,255,.45));
    }

    100%{
        transform:translateY(0);

        filter:
        drop-shadow(0 0 3px rgba(91,124,255,.25));
    }
}

.nav-menu{
  display:flex;
  gap:30px;
}

/* =========================
   MENU
========================= */

.nav-menu{

    display:flex;
    align-items:center;

    gap:28px;
}

.nav-menu a{

    position:relative;

    font-size:17px;
    font-weight:600;

    color:#0f172a;

    transition:.3s;
}

.nav-menu a:hover{

    color:#6366f1;
}

.nav-menu a::after{

    content:"";

    position:absolute;

    left:50%;
    bottom:-8px;

    width:0;
    height:3px;

    transform:translateX(-50%);

    border-radius:20px;

    background:
    linear-gradient(
    90deg,
    #6366f1,
    #8b5cf6);

    transition:.3s;
}

.nav-menu a:hover::after{

    width:100%;
}

/* ACTIVE PAGE */

.nav-menu a.active{

    color:#6366f1;
}

.nav-menu a.active::after{

    width:100%;
}

/* =========================
   RIGHT SIDE
========================= */

.nav-right{
    display:flex;
    align-items:center;
    gap:35px;
}

.status-dot{
  width:12px;
  height:12px;

  border-radius:50%;

  background:#22c55e;

  box-shadow:
  0 0 15px rgba(34,197,94,.7);
}

/* =========================
   DARK MODE BUTTON
========================= */

#darkToggle{

    width:48px;
    height:48px;

    display:flex;
    align-items:center;
    justify-content:center;

    border:none;
    border-radius:14px;

    cursor:pointer;

    font-size:20px;

    background:
    rgba(255,255,255,.8);

    backdrop-filter:blur(10px);

    border:
    1px solid rgba(0,0,0,.08);

    box-shadow:
    0 5px 15px rgba(0,0,0,.08);

    transition:.3s;
}

#darkToggle:hover{

    transform:translateY(-3px);

    box-shadow:
    0 10px 25px rgba(99,102,241,.18);
}
/*toglle dark btn */
.mobile-theme-btn{
    display:none;
}

/* ===== OFFICIAL LOGIN BUTTON ===== */

.official-login-btn{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:10px 18px;
    border:1px solid #00d4ff;
    border-radius:8px;
    text-decoration:none;
    color:#00d4ff;
    font-size:14px;
    font-weight:600;
    transition:.3s;
}

.official-login-btn:hover{
    background:#00d4ff;
    color:#000;
    box-shadow:0 0 15px rgba(0,212,255,.45);
}
/* =========================
   HAMBURGER
========================= */

.hamburger{

    display:none;

    flex-direction:column;

    gap:5px;

    cursor:pointer;
}

.hamburger span{

    width:28px;
    height:3px;

    border-radius:20px;

    background:#111827;
}
/* =========================
   HERO SECTION
========================= */

.hero{
  min-height:100vh;

  display:flex;
  align-items:center;

  padding-top:120px;

  background:
  radial-gradient(
  circle at top left,
  rgba(91,124,255,.12),
  transparent 40%),

  radial-gradient(
  circle at bottom right,
  rgba(124,92,255,.12),
  transparent 40%);
}

.hero-wrapper{

    width:100%;
    max-width:1300px;

    margin:auto;

    display:grid;
    grid-template-columns:1fr 1fr;

    gap:60px;
    align-items:center;

    animation:
    heroAppear 1.3s ease;
}

@keyframes heroAppear{

    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}


.hero-left h1{
    color:#0f172a;
    font-weight:800;
}


.gradient-text{
  background:
  linear-gradient(
  90deg,
  var(--accent),
  var(--accent2));

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;

 animation:
    gradientGlow 4s ease-in-out infinite;
}

@keyframes gradientGlow{

    0%,100%{

        filter:
        drop-shadow(
        0 0 4px rgba(91,124,255,.25));
    }

    50%{

        filter:
        drop-shadow(
        0 0 16px rgba(124,92,255,.45));
    }
}
.hero-sub{
  font-size:18px;
  margin-bottom:25px;
}

.hero-typing-clean{

    display:inline-block;

    overflow:hidden;
    white-space:nowrap;

    border-right:4px solid #6c63ff;

    width:0;

    animation:
    typingLoop 6s steps(30,end) infinite,
    blinkCursor .8s step-end infinite;
}

@keyframes typingLoop{

    0%{
        width:0;
    }

    40%{
        width:100%;
    }

    60%{
        width:100%;
    }

    100%{
        width:0;
    }
}

@keyframes blinkCursor{

    50%{
        border-color:transparent;
    }
}

.hero-badge{
  display:inline-block;

  padding:10px 18px;

  border-radius:50px;

  background:
  rgba(91,124,255,.1);

  color:var(--accent);

  font-size:14px;
  font-weight:600;

  margin-bottom:20px;
}

.hero-right{

    position:relative;

    display:flex;
    justify-content:center;
}

.hero-right::before{

    content:"";

    position:absolute;

    width:350px;
    height:350px;

    border-radius:50%;

    background:
    radial-gradient(
    circle,
    rgba(91,124,255,.25),
    transparent 70%);

    filter:blur(50px);

    z-index:-1;

    animation:glowMove 6s ease-in-out infinite;
}

@keyframes glowMove{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.15);
    }

    100%{
        transform:scale(1);
    }
}

.hero-right img{

    width:100%;
    max-width:420px;

    height:520px;

    object-fit:cover;

    border-radius:30px;

    box-shadow:
    0 20px 60px rgba(0,0,0,.12);

    animation:
    floatingImage 5s ease-in-out infinite;

    transition:.5s ease;
}

.hero-right img:hover{

    transform:
    scale(1.03);
}

@keyframes floatingImage{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-15px);
    }

    100%{
        transform:translateY(0);
    }
}


/* =========================
   BUTTONS
========================= */

.hero-cta{
  display:flex;
  gap:15px;
  flex-wrap:wrap;
}

.primary-btn{

    border:none;

    padding:15px 30px;

    border-radius:50px;

    color:#fff;

    cursor:pointer;

    background:
    linear-gradient(
    90deg,
    #5b7cff,
    #7c5cff);

    box-shadow:
    0 15px 35px rgba(91,124,255,.25);

    transition:.35s ease;
}

.primary-btn:hover{

    transform:
    translateY(-4px)
    scale(1.03);

    box-shadow:
    0 20px 45px rgba(91,124,255,.35);
}

.outline-btn{
  border:1px solid var(--border);

  padding:15px 30px;

  border-radius:50px;

  background:#fff;

  cursor:pointer;
}

/* =========================
   TECH CHIPS
========================= */

.tech-chips{
  margin-top:25px;
}

.tech-chips span{
  display:inline-block;

  padding:10px 16px;

  margin:6px;

  border-radius:30px;

  background:var(--bg-soft);

  border:1px solid var(--border);
}

/* =========================
   CHATBOT
========================= */

.chatbot-float{

    position:fixed;

    right:25px;
    bottom:25px;

    width:65px;
    height:65px;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    background:
    linear-gradient(
    45deg,
    #5b7cff,
    #7c5cff);

    color:#fff;

    font-size:28px;

    cursor:pointer;

    z-index:999;

    animation:
    chatFloat 3s ease-in-out infinite,
    chatPulse 2.5s infinite;
    

    box-shadow:
    0 20px 45px rgba(91,124,255,.35);
}

@keyframes chatFloat{

    0%{
        transform:translateY(0);
        box-shadow:
        0 0 0 0 rgba(91,124,255,.5);
    }

    50%{
        transform:translateY(-12px);
        box-shadow:
        0 0 0 18px rgba(91,124,255,0);
    }

    100%{
        transform:translateY(0);
        box-shadow:
        0 0 0 0 rgba(91,124,255,0);
    }
}

